<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 1</title>
</head>
<body>
<div id="app">
    <div class="flex justify-between align-center">
        <div class="container">
            <div class="card">
                <h3>To Do</h3>
                <ul class="ulist">
                    <li>Task Name
                        <div>
                            <button @click="showPopUp=true">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </li>
                    <li>Task Name
                        <div>
                            <button @click="showPopUp=true">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </li>
                    <li>Task Name
                        <div>
                            <button @click="showPopUp=true">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </li>
                    <li class="addcard">
                        <button>+ Add A Card</button>
                    </li>

                </ul>
            </div>
        </div>
        <div class="container todo-list" v-show="showPopUp">
            <div class="card2">
                <div class="bar"><h5>Task Name</h5>
                    <div>
                        <button><i class="fa-solid fa-trash"></i></button>
                        <button @click="showPopUp=false"><i
                                class="fa-solid fa-circle-xmark"></i></button>
                    </div>
                </div>
                <ul>
                    <template v-for="item in items">
                        <li>
                            <label :class="{'chk': checkboxList.includes(item.id)}">
                                <input v-model="checkboxList" :value="item.id" :checked="checkboxList.includes(item.id)"
                                       type="checkbox"/>{{item.name}}</label>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            showPopUp: false,
            checkboxList: [],
            items:
                [
                    {
                        id: 1,
                        name: "To Do 1",
                    },
                    {
                        id: 2,
                        name: "To Do 2",
                    },
                    {
                        id: 3,
                        name: "To Do 3",
                    },
                    {
                        id: 4,
                        name: "To Do 4",
                    },
                ],
        },
    })
</script>
</body>

</html>